* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Helvetica, Aial, sans-serif;
  background: #1572c8 url(D:/Pogoda/image/bluesky.png);
  background-size: cover;
}
.kontainer {
  display: block;
  box-shadow: 0 8px 16px -2px;
  background-color: #f0f0f0;
  margin: 32px auto 32px auto;
  max-width: 48rem;
  border-radius: 32px;
  padding: 32px 48px 32px 48px;
}

h1 {
  color: #1572c8;
  text-align: center;
  font-size: 3rem;
  letter-spacing: -2.16px;
  font-weight: 700px;
}
h2 {
  font-weight: 600;
  font-size: 2.9 rem;
  color: black;
}
h3 {
  font-weight: 600;
  color: #1572c8;
  font-size: 2.86 rem;
  margin-top: 0.25rem;
}

.main {
  display: inline-block;

  margin: 0 auto;
  margin-right: auto;
  margin-left: auto;
  padding: 2px 6px;
}
.search {
  display: inline-block;

  border-radius: 8px;
  border: 1px solid #1572c8;
  background: #a5abb0;
  color: #fff;
  font-size: 30px;
  margin: 0 auto;
  line-height: 46px;
  padding: 1px 10px;
  text-decoration: none;
  list-style-type: none;
  max-width: 400px;
  box-shadow: 0 4px 8px 0 #1572c8;
  opacity: 100%;
}
.search:hover {
  display: inline-block;
  background-color: #f5ce08df;
  color: #1572c8;
  box-shadow: 0 4px 8px 0 #1572c8;
  cursor: pointer;
}
.current {
  display: inline-block;

  border-radius: 8px;
  border: 1px solid #f5ce08df;
  background: #a5abb0;
  color: white;
  font-size: 30px;
  margin: 0 auto;
  line-height: 46px;
  padding: 1px 10px;
  text-decoration: none;
  list-style-type: none;
  max-width: 400px;
  box-shadow: 0 4px 8px 0 #1572c8;
  opacity: 100%;
}
.current:hover {
  display: inline-block;
  background-color: #1572c8;
  color: white;
  box-shadow: 0 4px 8px 0 #f5ce08df;
  cursor: pointer;
}
input {
  display: inline-block;

  border: 4px solid black;
  padding: 4px 16px;
  border-radius: 8px;
  margin-top: 0.75rem;
  opacity: 20%;
  letter-spacing: -1.08px;
  font-size: 2rem;
  font-weight: 80;
  font-style: italic;
}

p.yourDate {
  display: inline-block;
  margin: 0px;
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
}
p.yourTemp {
  display: inline-block;
  margin: 0px;
  color: #1572c8;
  font-size: 3.2rem;
}
a {
  color: #1572c8;
}
.today {
  float: right;
  padding: 0px;
}

.weather_kontainer {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1.5rem;
}
.icon_kontainer {
  background-color: #1571c8c3;
  border-radius: 1.5rem;
  text-align: center;
}
.icon_kontainer > span {
  padding-left: 26 px;
  padding: 16 px;
  font-size: 1.8rem;
  font-weight: 900;
  text-align: center;
  color: white;
  background-color: #1571c8c3;
  border-radius: 1.5rem;
}

.icon_kontainer > span.temperat {
  color: white;
  padding-left: 26 px;
  text-align: center;
  font-size: 4.2rem;
  font-weight: 400;
  line-height: 1;
}
ul {
  margin-left: 40 px;
  margin-top: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
li {
  display: table;
  font-weight: 500;
  font-size: 1.5rem;
}

img {
  max-width: 100%;
  height: auto;
}
.week {
  display: inline-flexbox;
  column-gap: 50px;
  text-align: center;
  margin: 0px auto;
  padding-top: 20px;
  padding-bottom: 100 px;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5 {
  display: inline-flex;
  text-align: center;
  margin: 0px auto;
  background-color: #a5abb0;
  padding: 20px 42px;
  border-radius: 10px;

  transition: all 200ms ease-in-out;
}

.col-1:hover,
.col-2:hover,
.col-3:hover,
.col-4:hover,
.col-5:hover {
  background-color: #f5ce08df;
}
p.card {
  margin: 0px;
  color: white;
  font-size: 1rem;
}

div.scrollmenu {
  background-color: white;
  background-size: cover;
  border-radius: 8px;
  overflow: auto;
  white-space: nowrap;
  margin-top: 20px;
  margin-bottom: 4px;
}
div.scrollmenu a {
  display: inline-block;
  color: #1572c8;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
div.scrollmenu a:hover {
  background-color: #1572c8;
  color: white;
}
.git {
  color: #1572c8;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
